.background-menu {
    background-color: #000000;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid #687691;
}

.background {

    background-color: #000000;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;


}

.logo-image,
.logo-profile {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.settings-image {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.profile-image{
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 30px;


}
nav {



display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
z-index: 1;
width: 100%;
box-sizing: border-box;

}

.navbar-left,
.navbar-right,
.navbar-center {

   display: flex;
    align-items: center;

}

.navbar-center a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}  

.navbar-right a {

    margin: 0 10px;
}



.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    background-color:#687691;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    
}

.titolo-film,
.descrizione-film {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    
}


.details {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: -10px;
}

.genre,
.rating,
.release-date {
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 5px;
    margin: 0 10px;
    

}

.background-bottom-bar {

    background-color: #02081d;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}